/*General style*/
body {
  font-family: sans-serif;
  box-sizing: border-box;
  background: #333;
}

/*MENU*/
#menu {
  background: #F24236;
  height: 80px;
  width: 100%;
  padding-top: 15px;
}

#menu ul {
  background-color: #F24236;
}

#menu li {
  background: none;
  color: #f1f1f1;
  list-style: none;
  display: inline-block;
  margin: auto 15px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.4s;
}

#menu li:hover {
  color: #333;
  cursor: pointer;
  font-size: 20px;
}
/*End MENU*/

/*Photos section*/
#photos {  /*ID used on JS*/
  text-align: center;
  width: 100%;
  height: 25%;
  display: inline-block;
}

/*Container of each photo*/
/*class used on JS*/
.panda-pic {
  position: relative;
  display: inline-block;
  margin: 20px 5px;
}

/*Only photo style*/
.panda-pic img {
  width: 250px;
  max-width: 100%;
  height: 190px;
  max-height: 100%;
  border: 10px solid lightgray;
}

/*Close X*/
.panda-pic .close {
  position: absolute;
  top: 10px;
  left: 5%;
  color: #f1f1f1;
  font-size: 26px;
  font-weight: 500;
  transition: all 0.4s;
}

.panda-pic .close:hover {
  color: #F24236;
  font-weight: 700;
  cursor: pointer;
}

/*End Photos*/

/*INFO section*/
#info {
  text-align: center;
}
