/*General style*/
body {
  font-family: sans-serif;
  box-sizing: border-box;
  background: #333;
}

/*MENU*/
#menu {
  background: #F24236;
  height: 80px;
  width: 100%;
  padding-top: 14px;
}

#menu ul {
  background-color: #F24236;
}

#menu li {
  background: none;
  color: #f1f1f1;
  list-style: none;
  display: inline-block;
  margin: auto 15px;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.4s;
}

#menu li:hover {
  color: #333;
  cursor: pointer;
  font-size: 20px;
}
/*End MENU*/

/*Gallery section*/
#photos {
  width: 100%;
  height: 25%;

}
