/*General style*/
body {
  font-family: sans-serif;
  box-sizing: border-box;
  background: #333;
  overflow: hidden;
}

/*MENU*/
#menu {
  background: #F24236;
  height: 60px;
  width: 100%;
  padding-top: 10px;
}
#menu ul {
  background-color: #F24236;
  margin-left: 40px;
}
#menu li {
  background: none;
  list-style: none;
  display: inline-block;
  margin: auto 21px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.7s;
}
#menu li a {
  color: #f1f1f1;
}
#menu li:hover {
  cursor: pointer;
  font-weight: 700;
}
/*End MENU*/

/*Photos section*/
#photos {  /*ID used on JS*/
  text-align: left;
  width: 100%;
  height: 25%;
  margin-top: 10px;
  margin-left: 10.5%;
  display: inline-block;
}

/*Container of each photo*/
.panda-pic {
  position: relative;
  display: inline-block;
  margin: 20px 5px;
}

/*Only photo style*/
.panda-pic img {
  width: 250px;
  max-width: 100%;
  height: 190px;
  max-height: 100%;
  border: 7px solid lightgray;
}

/*Close X*/
.panda-pic .close {
  position: absolute;
  top: 10px;
  left: 5%;
  color: #f1f1f1;
  font-size: 26px;
  font-weight: 500;
  transition: all 0.4s;
}

.panda-pic .close:hover {
  color: #F24236;
  font-weight: 700;
  cursor: pointer;
}

/*End Photos*/

/*INFO section*/
#info {
  text-align: center;
  margin: 10px 20px;
  width: 100%;
}

/*Buttons style*/
#info button {
  color: #f1f1f1;
  background: #F24236;
  border: none;
  margin: 10px auto;
  width: 30%;
  height: 32px;
  cursor: pointer;
  font-size: 18px;
}

#info button:hover {
  color: #333;
  font-weight: 700;
}

/*articles style*/
#info article {
   text-align: justify;
   color: #f1f1f1;
   display: inline-block;
   white-space: pre-line;
   margin: 0 30px;
   width: 38%;
   font-size: 13px;
  }
/*End INFO*/
